body {
    background-image: url("../images/background.png");
    background-size: cover;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    color: #777777;
}

#navbar {
    height: 100px;
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
    background-color: #ffffff!important;
    border-bottom: solid #cccccc 2px;
}

#navbarNav {
    background-color: #ffffff;
}

.container {
    max-width: 960px;
    background-color: #ffffff;
    padding: 30px;
}

.container-fluid {
    height: 100px;
    background-color: #ffffff;
    padding: 30px;
    border-bottom: solid #cccccc 2px;
}

#name {
    height: 100px;
    background-color: #5ca7fd;
    padding: 30px;
    font-size: 26px;
    font-weight: 700;
    font-family: 'Libre Baskerville', serif;
    color: #ffffff;
}

#name:hover {
    color: #dddddd;
}

#about, #portfolio {
    border-right: solid #dddddd 1px
}

#about, #portfolio, #contact {
    padding: 0 8px;
    margin: 8px 0;
}

#contact {
    padding-right: 0;
}

.main-content {
    margin-top: 130px;
    margin-bottom: 30px;
    padding-bottom: 0;
    border: solid #dddddd 1px;
}

#bio_image {
    height: 200px;
    width: 220px;
    margin-right: 20px;
    margin-bottom: 10px;
}

#footer {
    background-color: #666666!important;
    border-top: solid #4aaaa5 10px;
    height: 80px;
}

#copyright {
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 5px;
}

h1 {
    margin: 0;
    font-size: 26px;
    font-weight: 700;
    font-family: 'Libre Baskerville', serif;
    color: #5ca7fd;
}

hr {
    margin: 20px 0;
    height: 3px;
    background-color: #dddddd;
    border: none;
    margin-bottom: 30px;
    color: #dddddd;
}

.grid {
    padding: 0;
}

.project {
    height: 200px;
    margin-bottom: 30px;
    text-align: center;
    padding: 0;
} 

img {
    height: 160px;
    width: 240px;
}

.banner {
    height: 20%;
    width: 240px;
    background-color: #5ca7fd;
    text-align: center;
    color: #ffffff;
    bottom: 10px;
    margin: 0 auto;
}

.banner a {
    height: 100%;
    width: 100%;
    line-height: 1em;
    color: #ffffff;
    left: 0;
    bottom: 0;
    padding-top: 10px;
}

.banner a:hover {
    color: #dddddd;
    text-decoration: none;
}

#submit-button {
    background-color: #5ca7fd;
    border: none;
    margin-bottom: 30px;
}

.form-control, .form-control::placeholder {
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    color: #777777;
    border-color: #d6d6d6;
}

.navbar-toggler {
    margin-right: 10px;
}

#about:hover, #portfolio:hover, #contact:hover {
    color: #363535!important;
}

#contact:focus {
    color: rgba(0,0,0,.5);
}

#contact:visited {
    color: rgba(0,0,0,.5);
}
